* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}

body {
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 1px;
    height: 100vh;
    background-image: url(./Pics/AURORA\ PRINTS9-min.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

h1 {
    font-weight: bold;
    width: 100%;
    color: #0D5E4C;
    text-shadow: 1px 1px 3px #0D5E4C;
}

form {
    background-color: #AEF4E0;
    text-align: center;
    padding: 7vh 7vh;
    box-shadow: 0 0 10px 0;
    border-radius: 10px;
}

input {
    font-family: 'Libre Baskerville', serif;
    color: #283C36;
    background: none;
    font-size: 17px;
    font-weight: 400;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    border-bottom: 1px solid #008A61;
    text-align: center;
    caret-color: transparent;
}

input:focus {
    outline: none;
}

::placeholder {
    color: #008A61;
    text-align: center;
}

.grupo {
    margin: 20px;
}


.barra {
    position: relative;
    display: block;
    width: 100%;
}

.barra::before {
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background-color: #283C36;
    transition: 0.3s ease width;
    left: 0;
}

input:focus~.barra::before {
    width: 100%;
}

#button {
    text-align: center;
    background-color: #0D5E4C;
    border: none;
    border-radius: 10px;
    width: 60%;
    margin: 25px auto;
    color: #AEF4E0;
    font-weight: 600;
    height: 40px;
    font-size: 17px;
    cursor: pointer;
    box-shadow: 0 0 3px 0 black;
}

#button:hover {
    background-image: url(./Pics/AURORA\ PRINTS9-min.jpg);
    background-size: cover;
    color: white;
}

a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: #0D5E4C;
}